" ================================================================================================
" = Leader commands ===================================== Start
" ================================================================================================
" leaderkey
let mapleader=" "
set timeoutlen=500
" 防止按leader键乱移动
nnoremap <SPACE> <nop>
" nohl 关闭搜索高亮显示
nnoremap <leader>nl :nohlsearch<CR>

" ReformatCode 格式化代码CodeStyle
nnoremap <leader>fm :action ReformatCode<CR>

" Optimise Imports 格式化imports
nnoremap <leader>fi :action OptimizeImports<CR>

" Run code
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>rt :action RerunTests<CR>
" Refresh gradle
nnoremap <leader>rg :action ExternalSystem.RefreshAllProjects<CR>

" Insert into next bracket 直接跳转到下一个括号内开始插入
nnoremap <leader>i f(a
vnoremap <leader>i f(a

" Add ; at the end of current line 直接跳转到本行末尾插入;号
nnoremap <leader>j A;<ESC>
vnoremap <leader>j A;<ESC>

" Gotos 文档跳转
nnoremap ge :action GotoNextError<CR>
vnoremap ge :action GotoNextError<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gm :action MethodUp<CR>

nnoremap <leader>ck :action CallHierarchy<CR>
nnoremap <leader>mk :action MethodHierarchy<CR>

" show bookmarks
" instead of use `s` to represent show, use `w` instead
" 🔥🔥 🔥🔥 🔥🔥 Here I want to use nnoremap <leader>ss :action FileStructurePopup<CR>

nnoremap <leader>wb :action ShowBookmarks<ESC>
vnoremap <leader>wb :action ShowBookmarks<ESC>
nnoremap <leader>ws :action FileStructurePopup<CR>

" ========================================= Git =========================================
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<CR>

nnoremap <leader>gc :action Compare.Selected<CR>

nnoremap <leader>gb :action Git.CompareWithBranch<CR>

" Fold and unFold
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" ========================================= window & pane & split ========================================
" Unsplit editor 最大化显示当前编辑器pane, 关闭其他split
nnoremap <leader>wo :action UnsplitAll<CR>
vnoremap <leader>wo :action UnsplitAll<CR>

nnoremap <leader>zz :action MaximizeEditorInSplit<CR>
vnoremap <leader>zz :action MaximizeEditorInSplit<CR>

" Close active pane
nnoremap <leader>wc <c-w>c
vnoremap <leader>wc <c-w>c

" ============================================ Floating Window ===========================================
nnoremap sd :action QuickJavaDoc<CR>
nnoremap se :action ShowErrorDescription<CR>
nnoremap st :action ExpressionTypeInfo<CR>

" ================================================ Refactor ================================================
" refactor -> rename
map <leader>rn :action RenameElement<CR>
" extract method/function
vnoremap <leader>em :action ExtractMethod<CR>
" extract constant
vnoremap <leader>ec :action IntroduceConstant<CR>
" extract field
vnoremap <leader>ef :action IntroduceField<CR>
" extract variable
vnoremap <leader>ev :action IntroduceVariable<CR>
" rollback line
nnoremap <leader>rb :action Vcs.RollbackChangedLines<CR>

" ================================================ Debug ================================================
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>dr :action Resume<CR>

" Hide All windows
nnoremap <leader>cc :action HideAllWindows<CR>
vnoremap <leader>cc :action HideAllWindows<CR>



" 像vscode一样行移动
vnoremap J :action MoveLineDown<CR>
vnoremap K :action MoveLineUp<CR>



" 后退功能
nnoremap <leader>gb :action Back<CR>
nnoremap <leader>gb :action JumpToLastChange<CR>


" 打上断点或取消断点
nnoremap <leader>dt :action ToggleLineBreakpoint<CR>
" 取消所有的断点
nnoremap <leader>dT :action Debugger.RemoveAllBreakpointsInFile<CR>
" debug上次运行的类
nnoremap <leader>dd :action Debug<CR>
" debug当前(now)类
nnoremap <leader>dc :action DebugClass<CR>
" debug神器
" StepInto (F7)
nnoremap <leader>di :action ForceStepInto<CR>
" ForceStepInto(CMD + SHIFT + F7)
nnoremap <leader>dI :action ForceStepInto
" StepOver (F8)
nnoremap <leader>do :action StepOver<CR>
" Resume (跳到下个断点运行)
nnoremap <leader>dr :action Resume<CR>
" StepOut (SHIFT+F8)
nnoremap <leader>du :action StepOut<CR>
" debug强制运行到光标处
nnoremap <leader>dC :action ForceRunToCursor<CR>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""Create"""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 新建类
nnoremap <leader>nc :action NewClass<CR>
" 新建项目
nnoremap <leader>np :action NewProject<CR>
" 新建文件 (嘻嘻,啥都可以直接用快捷键建立,一个字爽)
nnoremap <leader>ne :action NewElement<CR>
" 删除当前文件 (快速删除)
nnoremap <leader>nd :action SafeDelete<CR>
" 复制文件元素
nnoremap <leader>ny :action CopyElement<CR>
" 代码环绕(快速添加if 或者while)
nnoremap <leader>ns :action SurroundWith<CR>
vnoremap <leader>ns :action SurroundWith<CR>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""文件和跳转"""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 重命名文件
nnoremap <leader>rn :action RenameFile<CR>
"最近改动文件间相互跳转
nnoremap <leader>rf mm`m:action RecentChangedFiles<CR>
" 查找文件
nnoremap <leader>ff mm`m:action GotoFile<CR>
" 最近查看文件间相互跳转
nnoremap <leader>fr mm`m:action RecentFiles<CR>
" 查找用法
nnoremap <leader>fu :action FindUsages<CR>
"跳转到声明
nnoremap gd mm`m:action GotoDeclaration<CR>
" 打开General菜单
nnoremap go :action Generate<CR>
"跳转到实现类
nnoremap gi mm`m:action GotoImplementation<CR>
" 查找类
nnoremap gc mm`m:action GotoClass<CR>
" 跳转SuperMethod
nnoremap gs mm`m:action GotoSuperMethod<CR>
" 目前还不熟悉 (后面搞懂回来补充)
nnoremap gf mm`m:action FileStructurePopup<CR>
" 搜索 action
nnoremap <leader>ga :action GotoAction<CR>
"相当于鼠标右键
nnoremap <leader>sp :action ShowPopupMenu<CR>

" ================================================================================================
" = Extensions ===================================== Start
" ================================================================================================
set surround
set argtextobj
set ReplaceWithRegister
set NERDTree

nnoremap ma mA
nnoremap 'a 'A
nnoremap ms mS
nnoremap 's 'S
nnoremap md mD
nnoremap 'd 'D
nnoremap mf mF
nnoremap 'f 'F

nnoremap ga '.

nnoremap <leader>e :action ActivateProjectToolWindow<CR>

" argtextobj
let g:argtextobj_pairs="(:),{:},<:>"

" ================================================================================================
" = Other settings ===================================== Start
" ================================================================================================
set clipboard+=unnamed
set ignorecase
set scrolloff=30
set history=200

set number
set relativenumber

set incsearch
set hlsearch
set easymotion
set keep-english-in-normal
set which-key
set timeoutlen = 5000


let g:WhichKeyDesc_windows_maximize = "<leader>wm maximize"
